/* common shared related styles */

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    color: white;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;


}

.section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 100px;


}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;

}

/* header related styles */

.header {
    background: rgba(229, 84, 115, 0.10);
}

.banner {
    padding: 50px 200px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.banner-content {

    max-width: 500px;
}



.banner .banner-pic {

    width: 500px;


}

.banner-greetings {
    font-size: 80px;
    color: #272727;
    margin-bottom: 32px;
}

.banner-description {
    color: rgba(39, 39, 39, 0.6);
    font-size: 18px;
    font-weight: 400;
    margin-top: 0;


}

/* main section styles */


/* featured-flowers styles */

.featured-container {
    margin: 24px 200px 0px;
}

.featured-flowers {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;

}

.flowers-img{
    width: 200px;
    padding: 80px 50px 0;
}

.flower-pic{
    display: flex;
    border-radius: 300px 300px 0px 0px;

}

.one{
    background-color: #A7216226;
}

.two{
    background-color: #0597A026;
    align-items: center;
}

.three{
    background-color: #477D1126;
}

.flower-name{
    display: flex;
    justify-content: space-around;
}

.flower-name > h3{
    margin-top: 20px;
    text-decoration: underline;
}

/* optional icons */

.icon{
    margin: 130px 200px;
    display: flex;
    border-radius: 8px;
    justify-content: space-around;
    background-color: #2727270D;
}

.icon-featured {
    text-align: center;
    padding: 75px 0px;
}



/* sales message part */

.sales-section {
    margin: 120px 0px;
    background-color: #E554730D;
    padding: 80px 200px;

}

.sales {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.sales-content {

    text-align: center;
}



.sales .banner-pic {

    margin-left: 100px;
    width: 240px;


}

.sales-greetings {
    font-size: 40px;
    color: #272727;
    margin-bottom: 32px;
}

.sales-description {
    padding: 10px 0px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;


}

/* instagram display */

.instagram{
    margin: 0px 200px;
}




.insta-flowers {
    display: flex;
    justify-content: space-between;
    gap: 20;
}

.insta-pic{
    width: 225px;
}

/* latest deal */

.deal-container {
    margin: 120px 200px;
    background-image: url('../images/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 70px 0px;


}

.deal-title{
    font-size: 33px;
    font-weight: 800;
}

.email {

    border-radius: 8px;
    background: #FFF;
    width: 450px;
    height: 45px;
    border: none;
    padding-left: 20px;
} 

.submit{
    margin: 5px;
    padding: 11px 25px;
    border-radius: 8px;
    border: none;
    background: #E55473;
    font-weight: 700;
    color: #FFF;
    cursor: pointer;
}


/* footer start */

footer {
    background-color: #111010;
    text-align: center;
    padding: 120px 0px;
}

.footer-title {
    color: #FFFFFFE5;
    

}

.footer-1 {
    color: rgba(229, 84, 115, 1);
}



.footer-description {
    width: 40%;
    margin: auto;
    padding: 8px 0px;
    color: #FFFFFFE5;
    font-size: 14px;
    font-style: normal;



}

.small {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    

}